

<h1>About</h1>
<p>FinHunt surfaces the best new products, every day.
  It's a place for product-loving enthusiasts to share
  and geek out about the latest mobile apps,
  websites, hardware projects, and tech creations.</p>
