

<h1>The hottest news on finance and banking tech </h1>
<p>FinHunt is a curation of the best new FinTech startup, every day.
   Discover the latest mobile apps, websites, and technology products
  that everyone's talking about.</p>
